<div class="cadastro-box">
  <h1>Adicione Aluno</h1>
  <form action="/turma/{{turma_id}}/aluno/create" method="POST" class="form">
    <input type="hidden" name="referer" value="{{ referer }}">
    <div class="user-box">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Nome do aluno">
    </div>
    <div class="user-box">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email do aluno">
    </div>
    <div>
      <input class="btn btn-outline-primary" type="submit" value="Cadastrar">
    </div>
  </form>
</div>