<h1>Adicione Turma</h1>
<div class="container-form">
  <form action="/turma/create" method="POST" class="form">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Nome do professor">
    </div>
    <div class="form-control">
      <input class="btn btn-outline-success" type="submit" value="Cadastrar">
    </div>
  </form>
</div>
