<h1>Adicione Professor</h1>
<div class="container-form">

  <form action="/users/create" method="POST" class="form">

    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Nome de usuario">
    </div>

    <div class="form-control">
      <label for="occupation">Função:</label>
      <input type="text" name="occupation" placeholder="Qual sua profissão">
    </div>


    <input type="submit" value="Cadastrar">
  </form>

</div>