<section>
    <a href="/professor/new" class="btn btn-dark">
        <i class="bi bi-plus"></i>
        Adicionar Professor
    </a>
    <hr />
    <h1>Professores Cadastrados</h1>
    <div class="container">
        {{#each users}}
        <div class="item">
            <p>{{this.dataValues.name}}</p> <!-- utiliza o this para poder chama tudo que vai o nome-->
            <p>{{this.dataValues.email}}</p>
            <div class="actions">
                <a href="/turmas/" class="details-btn">Turmas</a>
                
                <a href="/users/edit/{{this.dataValues.id}}" class="edit-btn">Editar</a>

                <form action="/users/remove/{{this.dataValues.id}}" method="POST">
                    <input type="submit" value="Excluir" class="delete-btn">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</section>